<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="{% url 'web:edit_page' 0 %}">新文章</a></h1>
    {% for article in articles %}
        <a href="{% url 'web:article_page' article.id %}">{{ article.title }}</a>
        <a href="/web/article/{{article.id}}" target="_blank">{{article.title}}-blank</a>
        <!-- <p>{{ article.content }}</p> -->
    <br />
    {% endfor %} 
</body>
</html>